/* Estilo para centralizar o conteúdo */
.App {
  text-align: center;
  
}


/* Estilo para o cabeçalho */
.App-header {
  background-color: #3e5583; /* Cor de fundo */
  min-height: 100vh; /* Altura mínima da tela inteira */
  display: flex; /* Alinhar itens horizontalmente */
  flex-direction: column; /* Colocar os itens em uma coluna */
  align-items: center; /* Alinhar itens horizontalmente no centro */
  justify-content: center; /* Alinhar itens verticalmente no centro */
  font-size: calc(10px + 2vmin); /* Tamanho da fonte responsiva */
  color: rgb(154, 48, 48); /* Cor do texto */
}

/* Estilo para os botões */
.btn-container {
  display: flex; /* Alinhar os botões horizontalmente */
  justify-content: center; /* Centralizar os botões horizontalmente */
  gap: 20px; /* Espaçamento entre os botões */
}

.btn {
  padding: 15px 30px; /* Espaçamento interno */
  font-size: 18px; /* Tamanho da fonte */
  border: none; /* Remover borda */
  cursor: pointer; /* Cursor do mouse ao passar por cima */
  /* Estilos de cores diferentes */
}

/* Estilo para cada botão */
.btn1 {
  background-color: #421d7e; /* Laranja */
  border-radius: 10;
}

.btn2 {
  background-color: #0c34ba; /* Verde */
  border-radius: 10;
}

.btn3 {
  background-color: #5733FF; /* Roxo */
  border-radius: 10;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #9a39ba;
  width: 100%;
}

.mainDiv {
  display: flex;
  background-color: rgb(76, 29, 156);
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* Estilo para o título */
.title {
  margin-bottom: 20px; /* Espaçamento inferior */
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  color: #5a24b8; /* Cor do texto */
}

/* Estilos para animação */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
